/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    margin:0;
    padding:0;
}
body{
    font-family:'Poppins', 'sans-serif';
   /*  background:linear-gradient(#666699,#3366cc ); */
   background:linear-gradient(#000066, #ffffff );
   /* #003366*/

    color:white;
}
html{
    scroll-behaviour: smooth;
}

p{
    color:rbg(85,85,85);

}
/* TRANSITION */
a, 
.btn {
   transition: all 300ms ease;
}
/* Desktop Navigation */
nav, .nav-links{
    display:flex;
    
}
nav{
    justify-content:space-around;
    align-items:center;
    height:17vh;
}
.nav-links{
    gap:2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color:white;
    text-decoration: none;
    text-decoration-color:white;
}
a:hover{
    color:black;
    text-decoration: underline;
    text-underline-offset:1rem;
    text-decoration-color:black;

}
.logo a:hover{
    color:white;
    text-decoration: none;
    text-decoration-color:white;
}
.logo{
    margin-right:300px;
    font-size:2rem;
}
.logo2{
 display:flex;
 margin: auto 0; 
    width: 50px;
    height: 50px;

}
.logo:hover{
    cursor:default;
}
/* Hamburger Menu */
#hamburger-nav{
    display:none;
}
.hamburger-menu{
    position:relative;
    display:inline-block;
}
.hamburger-icon{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:24px;
    width:30px;
    cursor:pointer;
}
.menu-links a{
    display:block;
    padding:10px;
    font-size:1.5rem;
    color:white;
    text-decoration:none;
    transition: all 0.3 ease-in-out;
}
.menu-links li {
    list-style:none;
}
.menu-links.open{
    max-height:300px;
}
/*Section*/
section{
    padding-top: 4vh;
    height: 96;
    margin:0 10rem; 
    box-sizing:border-box;
    min-height:fit-content;
}

.section-container{
    display:flex;
}

/* Profile Section */
#profile {
    display:flex;
    justify-content:center;
    gap: 5rem;
    height: 80vh; 
}

.section_pic-container{
    display:flex;
    height:400px;
    width:400px;
    margin:auto 0; 
    
}
.section_text{
    align-self:center;
    text-align:center;
}
.section_text p {
    font-weight:600;
}
.section_text_p1{
    text-align:center;
}
.section_text_p2{
    font-size: 1.75rem;
    margin-bottom:1rem;
    color: black;
}
.title{
    font-size:3rem;
    text-align:center; 
}
#socials-container{
    display:flex;
    justify-content:center;
    margin-top:1rem;
    gap:1rem;

}
/* Icons */
.icon{
    cursor:pointer;
    height:2rem; 
}
/* Footer */
footer p {
    color:black;
    font-size: 20%;
    text-align:center;
    border-top: solid lightgrey;
    margin-top: 20px;
}
/* Buttons */
.btn-container{
    display:flex;
    justify-content:center;
    gap:1rem;

}
.btn{
    font-weight:600;
    transition:all 300ms ease;
    padding:1rem;
    width: 8rem;
    border-radius:0.5rem; 
}
.btn-color-1, .btn-color-2{
    border:rgb(53,53,53) 0.1rem solid; 
}
.btn-color-1:hover, .btn-color-2:hover{
   cursor:pointer;
}
.btn-color-1:hover, .btn-color-2:hover{
    background:rgb(53,53,53);
    color:white;
 }
 .btn-color-1:hover{
   background:rbg(0,0,0);
 }
 
 .btn-color-2:hover{
    border: rgb(255,255,255) 0.1rem solid;
 }
 .btn-container{
    gap:1rem;
 }

 /* ANimation */
 h1,p {
    animation-duration:3s;
    animation-name: bounce;
 }
 @keyframes bounce{
    from {
        margin-left:30%;
    }
    to{
        margin-left:0%;
    }
 }
 .section_pic-container img{
    border-radius:30%;
    animation-name: bounce;
    animation-duration:3s;

}
@keyframes bounce{
    from {
        margin-bottom:30%;
    }
    to {
        margin-bottom:0%;
    }
}
